{
  "plugins": [
    ["prismjs", {
        "languages": ["javascript", "css", "php", "markup", "sql"],
        "plugins": ["line-numbers", "normalize-whitespace"],
        "theme": "coy",
        "css": false
    }]
  ]
}
