body > .container {

    justify-content: flex-start;


  }


 main {
   
    flex-basis: 70%;
    background-color: #fff;
    border: 1px solid rgba(0,0,0, 0.100);
    padding: 10px 5px;

 }

 .right-sidebar {

  margin-right: 15px;
  
 }

 .right-sidebar .card-header {

    cursor: pointer;
 }

 .right-sidebar .submenu {

    margin-top: 5px;
 }

 .right-sidebar .submenu li {

    padding-left: 5px;
 }

.header-bar-avatar {

    display: none;
}

.header-bar-stats li {

  display: none !important;

}

.edit, 
.admin-index {

    padding: 10px 20px;
}

#destroy-btn {

    display: none;

}

.tinymce {

    min-height: 200px;
}

.admin-table .link {

  cursor: pointer;

}

.admin-table .link a {
    
    visibility: hidden;
    display: inline-block;
    float: right;
}

.admin-table tbody tr:hover {

    background-color: #f2f2f2 !important;
} 



.admin-table tr:hover .link a {

    visibility: visible;
}

.media-table .title {

    display: inline-block;
    width: 200px; 
    word-wrap: break-word;
}

.media-table .thumb img {

   width: 100px;
   height: 100px;
   object-fit: cover;
}


.edit div.photo {

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    min-height: 235px;

    background: transparent url('/storage/placeholder_small.png') repeat-x center center;
}

.edit div.photo button,
.edit div.photo .media-lib-field  {

    width: 100%;
}

.edit div.photo button {
  
    justify-self: flex-end;

}


.edit div.photo img {

    width: 100%;
    height: 200px;
    object-fit: cover;
}

.users-edit div.photo {

    width: 200px;
}

.categories-edit div.photo {

    width: 150px;
    min-height: 155px;
}

.categories-edit div.photo img {

    width: 100%;
    height: 120px;
    object-fit: cover;
}


@media (min-width: 768px) {

    [role="main"] {
 
        padding-top: 65px;
    
    }
    
    .sidebar {
    
        padding-top: 55px;
    }


}