
.admin-table .link {

  cursor: pointer;

}

.admin-table .link a {
    
    visibility: hidden;
    display: inline-block;
    float: right;
}

.admin-table tbody tr:hover {

    background-color: #f2f2f2 !important;
} 



.admin-table tr:hover .link a {

    visibility: visible;
}

.media-table .title {

    display: inline-block;
    width: 200px; 
    word-wrap: break-word;
}

.media-table .thumb img {

   width: 100px;
   height: 100px;
   object-fit: cover;
}



@media (min-width: 768px) {

    [role="main"] {
 
        padding-top: 65px;
    
    }
    
    .sidebar {
    
        padding-top: 55px;
    }


}